
.kanban-content{
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

.card{
    border: 1px;
    border-style: solid;
    padding: 16px;
    gap: 8px;
    border-radius: 4px;
    width:25%;
}

.card-header{
display: flex;
justify-content: flex-start;
}

.card-title{
padding: 2px 8px 2px 8px;   
gap: 0px;
border-radius: 4px;
border: 1px;
border-style: solid;
text-align: left;
font-family: Nunito Sans;
font-size: 12px;
font-weight: 400;
line-height: 20px;
display: inline-block;

}

.card-desc{
font-family: Nunito Sans;
font-size: 12px;
font-weight: 700;
line-height: 20px;
text-align: left;
color: #404040;
margin-top: 5px;
}

.card-footer{
    display: flex;
    justify-content: flex-start;
}

.btn-newtask{
font-family: Nunito Sans;
font-size: 12px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #1D1F20;
background-color: transparent;
border: none;
cursor: pointer;
}